# compiled sources
*.o

# binaries
bonepeg
playground/colortrans
playground/greyramp
playground/hex2pal
playground/nccolor
playground/ncurses_test
playground/shift
playground/sliders
playground/ttycolors
